h1{
font-size: 30px;
text-align: center;
color: #de7471;
font-family: Helvetica, sans-serif;
}

h2{
font-size: 26px;;
color: #808080;
font-family: Helvetica, sans-serif;
}

p{
font-size: 20px;
text-align: left;
font-family: Helvetica, sans-serif;
}

body {
background-color: #191970;
font-family: Helvetica, sans-serif;
}